@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:700);

p {
    font-family: "Source Sans Pro", Arial, sans-serif;
}
body {
    margin-bottom: 80px;
}

h3.project-section{
    text-align:left;
}

.page-header{
    margin-top: 0;
}

.panel-body{
    paddling-top: 0;
}

/* Portfolio */

.portfolio {
    padding: 50px 0;
}

.portfolio-item {
    margin-bottom: 30px;
}
.img-portfolio {
    margin: 0 auto;
    padding-top: 25px;

}

.img-portfolio:hover {
    opacity: 0.5;
    display: block;
}

.img-portfolio p {
	background: rgba(0,0,0,0.8);
	color: white;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	transition: all 300ms;
	-webkit-transition-delay: 100ms;
	-moz-transition-delay: 100ms;
	transition-delay: 100ms;
	z-index: 100;
}
    

/*  Social */
#social {
    position: fixed;
    top: 200px;
    right: -27px;
    padding: 10px;
   -webkit-transition: right .2s;
}

#social a {
    border: none;
}

#social:hover {
    right: 0px;
   -webkit-transition: right .2s;
}
#social img {
    border: none;
    width: 45px;
   -webkit-transition: width .2s;
}

#social img:hover {
    width: 50px;
   -webkit-transition: width .2s;
}

#social li {
    display: block;
   -webkit-transition: width .2s;
   -webkit-transition: margin .2s;
}
.navbar {
    border-radius: 0px;
    border-bottom: 1px solid;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    background-color: white;
    margin-bottom: 50px;
    min-height: 100px;
    font-family: 'Roboto', sans-serif;
    line-height: 100px;
    
}
.navbar-brand {
    font-size: 25px;
    line-height: 100px;
    font-family: 'PT Sans', sans-serif;
}
.container {
    width: 900px;
}